/* MonthCalendar css */

/* days without and with pages linked to them */
a.cal-emptyday {
    color: #777777;
    text-align: center;
}
a.cal-usedday {
    color: #000000;
    font-weight: bold;
    text-align: center;
}
/* general stuff: workdays, weekend, today */
td.cal-workday {
    background-color: #87cefa;
    text-align: center;
}
td.cal-weekend {
    background-color: #87cefa;
    text-align: center;
}
td.cal-today {
    background-color: #CCFFCC;
    border-style: solid;
    border-width: 3pt;
    text-align: center;
	border-color: #f4a460;
}
/* invalid places on the monthly calendar sheet */
td.cal-invalidday {
    background-color: #f5f5f5;
}
/* links to prev/next month/year */
a.cal-link {
    color: #000000;
    text-decoration: none;
}
th.cal-header {
    background-color: #BDD5FC;
    text-align: center;
}

/* for MonthCalendar mouseover info boxes */
TABLE.tip {
    color: black;
    background-color: #FF8888;
    font-size: small;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
}

TH.tip {
    background-color: #FF4444;
    font-weight: bold;
    text-align: center;
}

TD.tip {
    text-align: left;
}
*[dir="rtl"] TD.tip {
    text-align: right;
}

/* end MonthCalendar stuff */

#message .hint {font-style: italic;}
#message .info {
    float: none;
    font-size: 1em;
    color: black;
}